<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzuisa.mapper.StudentMapper">

    <select id="getFiles" resultType="java.util.HashMap">
        SELECT
            a.aps_auth_file,a.exam_auth_file,a.passport
         FROM
            student a
            left join account b on a.u_id = b.id
        where a.u_id = #{uid}
    </select>
    <select id="getByUid" resultType="Student">
        SELECT
            *
        FROM
            student a
            left join account b on a.u_id = b.id
        where a.u_id = #{uid}
    </select>

    <select id="pageEntity" resultType="java.util.HashMap">
        SELECT
        id,
        u_id,
        name,
        birthday,
        gender,
        cet4,
        cet6,
        ger_exam,
        nationality,
        address,
        phone,
        aps_passed,
        apsid,
        aps_auth_file,
        exam_auth_file,
        passport,
        avatar
        FROM
        student
        WHERE
        1 = 1
        <if test="u.name != null">
            and name = #{u.name}
        </if>
        <if test="u.gender != null">
            and gender = #{u.gender}
        </if>
        <if test="u.cet4!= null">
            and cet4 = #{u.cet4}
        </if>
        <if test="u.apsid!= null">
            and apsid = #{u.apsid}
        </if>
        <if test="u.nationality != null">
            and nationality = #{u.nationality}
        </if>
        <if test="u.address != null">
            and address like concat('%',#{u.address},'%')
        </if>
        <if test="u.phone != null">
            and phone like concat('%',#{u.phone},'%')
        </if>
    </select>

</mapper>
